# MMO RPG

Proyecto evaluativo para el curso de python: MMO RPG en Python
## Requisitos

- Interprete de Python

## Instalación
1. Crea un entorno virtual:
   ```
   python -m venv venv
   ```

2. Activa el entorno virtual:
   - En Windows:
     ```
     venv\Scripts\activate
     ```
   - En macOS y Linux:
     ```
     source venv/bin/activate
     ```

3. Instala las dependencias:
   ```
   pip install -r requirements.txt
   ```

## Ejecución

Para ejecutar el juego, simplemente ejecuta:
python main.py
